body {    background-color: black;
    padding: 0;
    margin: 0;
    HEIGHT: 100%;
    
}
html{   scroll-behavior: smooth;}
.contenedor {width: 100%;
              height: 100%;
              
              

             }
header {top: 0;
     width: 100%;
    display: flex;
    position: fixed;
    z-index: 100;
    height:10%;}

.contenedor2{    background-image: url(img/fondo.jpg);
    height: 100%;
    justify-content: space-between;
    display: flex;
    width: 100%;
    align-items: center;
              }
.inicial{width:15%;
         height: 100%;
         justify-content: center;
         align-items: center;
         display: flex;}

.inicial img {width: 35%;
             height: 90%;}

.menu {
       margin: 0;
       padding: 0;
       list-style: none;
       height: 100%;
       width: 60%;
       display: flex;
       }
a { color: rgb(128, 128, 128);
    text-decoration: none;
    
    font-size: large;
}
a:hover { color: rgb(255, 255, 255); }

li{font-family: 'Fredoka One', cursive;
   width: 100%;
   height: auto;
   text-align: center;
   align-self: center;}

.contenedor3 {
    width: 100%;
    height: 90%;
    background-color: black;
}
.cont {    DISPLAY: flex;
    width: 100%;
    HEIGHT: 30%;
    MARGIN-TOP: 5%;}
.cont img {    WIDTH: 100%;
    display: flex;
    height: 100%;}

.contenedor3 {width: 50%;
              height: 90%;
              display: flex;
              flex-direction: column;
              align-self: center;}
.TMGC { display: flex;
        font-size: x-large;
        align-self: center;
        font-family: 'Fredoka One', cursive;}

.TMGC {color: rgb(255, 255, 255);}


.contenido {display: flex;
            align-self: center; 
            font-family: 'Fredoka One', cursive;
            width: 75%;
            font-size: x-large;
            color: white;
            text-align: center;
            }


:root {
    --bg: #1a1e24;
    --color: #ff009c;
    --font: Montserrat, Roboto, Helvetica, Arial, sans-serif;
}

.wrapper {align-self: center;
    padding: 1.5rem 0;
    filter: url('#goo');
}

.button {
    margin-top: 10%;
    display: inline-block;
    text-align: center;
    background: #ff009c;
    color: #eee;
    font-weight: 900;
    padding: 1.18em 1.32em 1.03em;
    line-height: 1;
    border-radius: 1em;
    position: relative;
    min-width: 8.23em;
    text-decoration: none;
    font-family: 'Fredoka One',cursive;
    font-size: 1rem;
}

.button:before,
.button:after {
    width: 4.4em;
    height: 2.95em;
    position: absolute;
    content: "";
    display: inline-block;
    background: var(--color);
    border-radius: 50%;
    transition: transform 1s ease;
    transform: scale(0);
    z-index: -1;
}

.button:before {
    top: -25%;
    left: 20%;
}

.button:after {
    bottom: -25%;
    right: 20%;
}

.button:hover:before,
.button:hover:after {
    transform: none;
}
.contenedor1 {display: flex;
    flex-direction: row;
     margin-top: 5%;}
/*///////////////////////////////////////////////*/
.contenedor4 {width: 50%;
              height: 90%;
              display: flex;   }
.contenedor4 img {WIDTH: 100%;
    HEIGHT: 100%;
}
.contenido2{ border-top: 5PX SOLID #ff009c;
    DISPLAY: flex;
    font-family: 'Fredoka One', cursive;
    width: 100%;
    font-size: x-large;
    color: black;
    text-align: center;
    height: 100vh;
    background-color: WHITE;
    PLACE-ITEMS: CENTER;
    justify-content: center;}

.contenido2 p {
                display: contents;}
.contenido3 {
    WIDTH: 66%; }
/*/////////////////////////////////////////////////*/
.block { border-top: 5px solid #ff009c;
         width: 100%;
         height: 100%;
         background-color: black;
        }
.block h2 {
    margin-bottom: 5%;
     color: #eee;
    DISPLAY: flex;
    font-family: 'Fredoka One', cursive;
    font-size: x-large;
    place-content: center;}

.block1 {     display: grid;
    grid-template-columns: 2FR 2FR 2FR;
   
    HEIGHT: 90%;
    gap: 5%;
    margin: 5%;
}
.icon {
    border-radius: 5%;
    background-image: url(img/fondo.jpg);
    width: 100%;
    FLEX-DIRECTION: COLUMN;
    HEIGHT: 100%;
    DISPLAY: flex;
    ALIGN-ITEMS: CENTER;
    box-shadow: 0px 0px 0px 5px #7d7d7d;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
}
.icon img {  margin-top: 5%;
             margin-bottom: 5%;  
    WIDTH: 20%;
    }
.icon b { margin-top: 2%;
    MARGIN-BOTTOM: 7%;
    font-family: 'Fredoka One', cursive;
    color: #e7e1e1;
    text-align: center;
    font-size: x-large;}

.icon p {WIDTH: 80%;
    font-family: 'Fredoka One', cursive;
    color: #ffffff;
    text-align: center;}

.item{scroll-margin-top: 13.4ex;

}
/*////////////////////////////////////////////////////////////////////////////////*/
.trabajos { width: 100%;
            height: 100VH;
            background-color: white;
            border-top: #ff009c 5PX solid;}
.client h2 {margin-bottom: 5%;
              color: rgb(0, 0, 0);
              DISPLAY: flex;
              font-family: 'Fredoka One', cursive;
              font-size: x-large;
              place-content: center;}            
.trabajos p { font-family: 'Fredoka One', cursive;
              font-size: large;
              text-align: center;
  }
 p span {color: #ff009c;}

.ch-grid {    place-content: center;
              margin: 20px 0 0 0;
              padding: 0;
              list-style: none;
              display: flex;
              text-align: center;
              width: 100%;
              height: 80%;
            }
            
.ch-grid:after,
 .ch-item:before {
              content: '';
                display: table;
            }
            
.ch-grid:after {
              clear: both;
            }
            
.ch-grid li {
       width: 25%;
        height: 58%;
        display: inline-block;
       margin: 20px;
            }
.ch-item {
              width: 100%;
              height: 100%;
              border-radius: 50%;
              overflow: hidden;
              position: relative;
              cursor: default;
              box-shadow: 
                inset 0 0 0 16px rgba(255, 255, 255, 0.234),
                0 1px 2px rgba(0,0,0,0.1);
              transition: all 0.4s ease-in-out;
            }
.ch-img-1 {     BACKGROUND: ROUND;
              background-image: url(img/harry.jpg);
            }
            
.ch-img-2 {  background: round;
              background-image: url(img/david.jpg);
            }
            
.ch-img-3 { background: round;
              background-image: url(img/este.jpg);
            }
.ch-info {
              position: absolute;
              background: rgba(0, 0, 0, 0.8);
              width: inherit;
              height: inherit;
              border-radius: 50%;
              overflow: hidden;
              opacity: 0;
              transition: all 0.4s ease-in-out;
              transform: scale(0);
            }
.ch-info h3 {
              color: #fff;
              text-transform: uppercase;
              letter-spacing: 2px;
              font-size: 22px;
              margin: 0 30px;
              padding: 105px 0 0 0;
              height: 140px;
              font-family: 'Open Sans', Arial, sans-serif;
              text-shadow: 
                0 0 1px #fff, 
                0 1px 2px rgba(0,0,0,0.3);
            }
.ch-info p {

              color: #fff;
              padding: 10px 5px;           
              margin: 0 30px;
              border-top: 1px solid #ff009c;
              opacity: 0;
              transition: all 1s ease-in-out 0.4s;
            }
.ch-info p a {
              display: block;
              color: rgba(255,255,255,0.7);
              font-style: normal;
              font-weight: 700;
              text-transform: uppercase;
              font-size: 15px;
              letter-spacing: 1px;
              padding-top: 20px;
              font-family: 'Open Sans', Arial, sans-serif;
            }
            
.ch-info p a:hover {
              color: #ff009c;
            }
.ch-item:hover {
              box-shadow: 
                inset 0 0 0 1px rgba(255,255,255,0.1),
                0 1px 2px rgba(0,0,0,0.1);
            }
.ch-item:hover .ch-info {
              transform: scale(1);
              opacity: 1;
            }
.ch-item:hover .ch-info p {
              opacity: 1;
            }
/*//////////////////////////////////////////////////////////////////////////////*/
footer {
    border-top: #ff009c 5PX solid;
    width: 100%;
    display: inline-block;
    height: 50vh;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
  }
  
  .footer-distributed{
    background: rgb(0, 0, 0);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font-family: 'Fredoka One', cursive;
    padding: 55px 50px;
  }
  
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: inline-block;
    vertical-align: top;
  }
  
  /* Footer left */
  
  .footer-distributed .footer-left{
    width: 40%;
  }
  
  /* The company logo */
  
  .footer-distributed h3{
    color:  #ffffff;
    font-family: 'Fredoka One', cursive;
    margin: 0;
    font-size: xx-large;
  }
  
  .footer-distributed h3 span{
    color:  #ff009c;
  }
  
  /* Footer links */
  
  .footer-distributed .footer-links{
    color:  #ffffff;
    margin: 20px 0 12px;
    padding: 0;
  }
 .fa-brands:hover {
    color: #ff009c;
 }
 .fa:hover {
    color:#ff009c;
 }
  
  .footer-distributed .footer-links a{
    display:inline-block;
    line-height: 1.8;
    font-weight:400;
    text-decoration: none;
    color:  inherit;
  }
  
  .footer-distributed .footer-company-name{
    color:  #7d7d7d;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
  }
  
  /* Footer Center */
  
  .footer-distributed .footer-center{
    width: 35%;
  }
  
  .footer-distributed .footer-center i{
    background-color:  #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
  }
  
  
  .footer-distributed .footer-center i.fa-envelope{
   
    font-size: 17px;
    line-height: 38px;
  }

  
  
  .footer-distributed .footer-center p{
    display: inline-block;
    color: #ffffff;
    font-weight:400;
    vertical-align: middle;
    margin:0;
  }
  
  .footer-distributed .footer-center p span{
    display:block;
    font-weight: normal;
    font-size:14px;
    line-height:2;
  }
  
  .footer-distributed .footer-center p a{
    color:  #ff009c;
    text-decoration: none;;
  }
  
  .footer-distributed .footer-links a:before {
    content: "|";
    font-weight:300;
    font-size: 20px;
    left: 0;
    color: #ff009c;
    display: inline-block;
    padding-right: 5px;
  }
  
  .footer-distributed .footer-links .link-1:before {
    content: none;
  }
  
  /* Footer Right */
  
  .footer-distributed .footer-right{
    width: 20%;
  }
  

  
  .footer-distributed .footer-company-about span{
    display: block;
    color:  #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .footer-distributed .footer-icons{
    margin-top: 25px;
  }
  
  .footer-distributed .footer-icons a{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color:  #33383b;
    border-radius: 2px;
  
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
  
    margin-right: 3px;
    margin-bottom: 5px;
  }


/*////////////////////////////////////////////////////////////////////////////////*/
   
   @media (max-width: 1300px) and (min-width:1100px){
    .inicial img {width:55%;
       }
    .item{scroll-margin-top: 12.8ex;
       }
   
    .client {scroll-margin-top: 13.8ex;}

      }

/*/////////////////////////////////////////////////////////////////////////////*/  
   @media (max-width: 1100px) and (min-width:850px){

    .item{scroll-margin-top: 12.6ex;
    }
   
    .inicial img {width:60%;
    } 
    .contenedor1 { display: inline-block;}
    .contenedor3 {width: 100%;
                  margin-top: 5%;}
    .contenedor4 {width: 100%;
                  justify-content: center;}
    .contenedor4 img {width: 40%; }
    /*/////////////////////////////////////////////////////////////////*/
    .client {scroll-margin-top: 16ex;}
    .ch-grid{flex-direction: column;}
    .ch-info h3 {     height: 35%;
      padding: 20% 0 0 0;}

   
   .ch-grid li {width: 25%;
                height: 70%;
                margin: 5px;}
    /*////////////////////////////////////////////////////////////////*/
    .footer-distributed { display: flex;
                          flex-flow: wrap-reverse;
                          align-items: center;
                         height: 60vh;
                         PLACE-CONTENT: SPACE-EVENLY;}
    .footer-distributed .footer-left {
                          width: 100%;
                          text-align: center;
                      }
    .footer-distributed .footer-center {
                        width: 50%;
                    }
   }
   
/*//////////////////////////////////////////////////////////////////////////////*/
   
   @media (max-width: 850px) and (min-width:700px){

    
    .block1 {    margin-bottom: 15%;
                 grid-template-columns: 2FR 2FR;}
   
    .item{scroll-margin-top: 20.3ex;
    }
    .inicial img {width: 80%;
    } 
    .contenedor2 {flex-flow: column;}
    .contenedor1 { display: inline-block; 
                    margin-top: 8%;}
    .contenedor3 {width: 100%;
                  margin-top: 5%;}
    .contenedor4 {width: 100%;
                  justify-content: center;}
    .contenedor4 img {width: 40%; }
    .menu {width: 100%;
           border-bottom: 1PX solid white;
           BORDER-TOP: 1px solid WHITE;
    background-color: black;}

   
  /*////////////////////////////////////////////////////////////////////////*/
  .ch-grid{flex-direction: column;}
   
   .ch-grid li {width: 25%;
                height: 70%;
                margin:5px;} 
   .ch-info h3 { height: 40%;
                padding: 20% 0 0 0;}
  .client {scroll-margin-top: 18.4ex;}
  /*////////////////////////////////////////////////////////////////*/
  .footer-distributed { display: flex;
    flex-flow: wrap-reverse;
    align-items: center;
   height: 60vh;
   PLACE-CONTENT: SPACE-EVENLY;}

.footer-distributed .footer-left {
    width: 100%;
    text-align: center;
}


.footer-distributed .footer-center {
  display: contents;
  width: 60%;
}
.footer-distributed .footer-right {
  TEXT-ALIGN: CENTER;
  width: 100%;
}
   }
/*//////////////////////////////////////////////////////////////////////////////////*/

   @media (max-width: 700px) and (min-width:500px){
    .block1 {    margin-bottom: 18%;
        grid-template-columns: 2FR 2FR;}
    
    .item{scroll-margin-top: 18ex;
    }
    .icon img {width: 30%;}
    .icon b {margin-top: 0;
             margin-bottom: 0;
             font-size: x-large;}
    .icon p {font-size: medium;}
    .inicial img {width: 85%;
    } 
    .contenedor2 {flex-flow: column;}
    .contenedor1 { display: inline-block; 
                    margin-top: 15%;}
    .contenedor3 {width: 100%;
                  margin-top: 5%;}
    .contenedor4 {width: 100%;
                  justify-content: center;}
    .contenedor4 img {width: 40%; }
    .menu {width: 100%;
           border-bottom: 1PX solid white;
           BORDER-TOP: 1px solid WHITE;
    background-color: black;}

   
   /*/////////////////////////////////////////////////////////////////////////*/
   .ch-grid{flex-direction: column;}
   
   .ch-grid li {width: 35%;
                height: 70%;
                margin: 5px;}
   .ch-info h3 { height: 40%;
                  padding: 20% 0 0 0;} 
   .client {scroll-margin-top: 18.5ex;}
  /*////////////////////////////////////////////////////////////////*/
  .footer-distributed { display: flex;
    flex-flow: wrap-reverse;
    align-items: center;
   height: 60vh;
   PLACE-CONTENT: SPACE-EVENLY;}

.footer-distributed .footer-left {
    width: 100%;
    text-align: center;
}


.footer-distributed .footer-center {
  width: 60%;
}
.footer-distributed .footer-center div{display: flex;
  flex-flow: column;
  TEXT-ALIGN: CENTER;
  align-items: center;}
.footer-distributed .footer-center p { font-size: small;}
.footer-distributed .footer-center p a { font-size: small;}
.footer-distributed .footer-right {
  TEXT-ALIGN: CENTER;
  width: 100%;
}

   }
   /*/////////////////////////////////////////////////////////////////*/

   @media (max-width: 500px){
    .block {margin-bottom: 70%;}

    .block1 {margin-bottom: 60%;
        grid-template-columns: 2FR;
        justify-items: center;
        gap: 2%;
    }
    .icon {width: 70%;}
   
    .item{scroll-margin-top: 17.5ex;
    }
    .icon img {width: 30%;}
    .icon b {margin-top: 0;
             margin-bottom: 0;
             font-size: x-large;}
    .icon p {font-size: medium;}
    .inicial img {width: 90%;
    } 
    .contenedor2 {flex-flow: column;}
    .contenedor1 { display: inline-block; 
                    margin-top: 22%;}
    .contenedor3 {width: 100%;
                  margin-top: 5%;}
    .contenedor4 {width: 100%;
                  justify-content: center;}
    .contenedor4 img {width: 40%; }
    .menu {width: 100%;
           border-bottom: 1PX solid white;
           BORDER-TOP: 1px solid WHITE;
           background-color: black;}

  
   /*///////////////////////////////////////////////*/
   .ch-grid{flex-direction: column;}
   .ch-grid li {width: 45%;
                height: 70%;
                margin: 5px;} 
   .ch-info h3 { height: 40%;
                  padding: 20% 0 0 0;}
   .client {scroll-margin-top: 17ex;}
  
  /*////////////////////////////////////////////////////////////////*/
  .footer-distributed { display: flex;
    flex-flow: wrap-reverse;
    align-items: center;
   height: 70vh;
   PLACE-CONTENT: SPACE-EVENLY;}

.footer-distributed .footer-left {
    width: 100%;
    text-align: center;
}
.footer-distributed .footer-left h3 { display: none;}

.footer-distributed .footer-center {
  width: 60%;
}
.footer-distributed .footer-center div{display: flex;
  flex-flow: column;
  TEXT-ALIGN: CENTER;
  align-items: center;}
.footer-distributed .footer-center p { font-size: small;}
.footer-distributed .footer-center p a { font-size: small;}
.footer-distributed .footer-right {
  TEXT-ALIGN: CENTER;
  width: 100%;
}

    
   }     
   