.dropbtn {
  border: none;
  font-size: 17px;
  padding: 17px;
  color: #fff;
}

.drobdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  border-start-end-radius: 2rem;
  border-bottom-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
  min-width: 160px;
  position: absolute;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.dropdown-content a {
  display: block;

  text-decoration: none;
  padding: 17px;
  font-size: 0.8rem;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media (max-width: 640px) {
  .dropdown-content {
    border-start-start-radius: 2rem;
    border-start-end-radius: 0;
    border-bottom-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
    min-width: 140px;
    right: 0%;
  }
  .dropdown-content a {
    font-size: 0.6rem;
  }
}
